body {
    font-size: 16px;
    font-family: open sans,sans-serif, lucida sans,sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    border: 1px solid black;
    font-size: 20px;
}

.logo {
    text-align: center;
    align-content: center;
    border: 1px solid black;
}

.logo a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.content {
    border-bottom: 4px solid black;
    padding-bottom: 20px;
}

.content p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}


nav {
    text-align: center;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    border: 2px outset black;
    background: #FFE0FF;
}

h3 {
    font-size: 16px;
}

.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.social {
    float: left;
}

blockquote {
    border-style: solid;
    font-style: italic;
}

.posts {
    padding-left: 5%;
    padding-right: 5%;
}

table {
    text-align: center;
    width: 100%;
}

thead th {
    border: 1px solid black;
    background-color: white;
    border-bottom: 2px solid black;
}

tr {
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:nth-child(odd) {
    background-color: azure;
}

thead {
    background-color: white;
}

tr td {
    border: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.offwhite-bg { background-color: rgb(240, 240, 240); }
.cyan-bg { background-color: lightcyan; }
.rose-bg { background-color: mistyrose; }
.white-bg { background-color: white; }
.pink-bg { background-color: #FFE0E0; }
.blue-bg { background-color: aqua; }
.nav-bg { background-color: #9ED9D9; }
.ocean-bg { background-image: radial-gradient(#276779, #164557); }


.black-text {
    color: black;
}


.constant-link {
    color: black;
    text-decoration: none;
}

.simple-link {
    color: black;
    text-decoration: none;
}

.simple-link:visited {
    color: purple;
    text-decoration: none;
}

.nav-item {
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex: 1;
}

.cols {
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
    flex-direction: row;
}

.max-width {
    width: 100%;
}

.item-1 {
    margin: auto;
    flex: 1;
}

.item-2 {
    margin: auto;
    flex: 2;
}

.item-3 {
    margin: auto;
    flex: 3;
}

.item-4 {
    margin: auto;
    flex: 4;
}

.item-5 {
    margin: auto;
    flex: 5;
}

.item-6 {
    margin: auto;
    flex: 6;
}

.athead .ath {
    border: 1px solid black;
    background-color: white;
    border-bottom: 2px solid black;
    text-align: center;
}

.atr {
    border-bottom: 2px solid black;
}

.atr:nth-child(even) {
    background-color: aliceblue;
}

.atr:nth-child(odd) {
    background-color: azure;
}

.athead {
    background-color: white;
}

.atr .atd {
    border: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

li {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 4px;
    margin-bottom: 4px;
}

ol {
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0%;
}

ul {
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0%;
}

ul:nth-child(-n+4) {
    margin-left: 1%;
    margin-right: 1%;
}

ol:nth-child(-n+4) {
    margin-left: 1%;
    margin-right: 1%;
}

div.sourceCode {
    margin-left: 5%;
    margin-right: 5%;
}
