code {
    background-color: #D99ED9;
    font-family: monospace;
    border: 1px outset gray;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

pre code {
    background-color: #111111;
    color: white;
    display: block;
    border: 0;
}

pre {
    border: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
}

.sourceCode code  {
    border: 0;
}

.sourceCode pre {
    font-family: monospace;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.sourceCode { background-color: #111111; border: 2px outset white;}
.sourceCode .kw { color: #FF1493; }  /* key words */
.sourceCode .dt { color: #5FD7FF; }  /* data type */
.sourceCode .dv { color: white }  /* decimal value */
.sourceCode .bn { color: white }  /* base N */
.sourceCode .fl { color: white }  /* float */
.sourceCode .ch { color: #CDC673; }  /* char */
.sourceCode .st { color: #CDC673; }  /* string */
.sourceCode .co { color: #8B8878; } /* comments */
.sourceCode .ot { color: #87D700; }  /* other */
.sourceCode .at { color: green;  }  /* alert */
.sourceCode .fu { color: #FF8C00; } /* function/operators */
.sourceCode .re { color: #474747;}  /* region marker */
.sourceCode .er { color: red }  /* error */

.sourceCode .diff .va { color: limegreen; }  /* string */
.sourceCode .diff .st { color: red; }  /* string */
