<div class="posts cols">

  <div class="athead rows">
    <div class="ath item-4">Title</div>
    <div class="ath item-2">Date</div>
  </div>

  $for(posts)$
  <div class="atr rows">
    <div class="atd item-4">
      <a class="simple-link" href="$url$">$title$</a>
    </div>
    <div class="atd item-2">$date$</div>
  </div>
  $endfor$

  <div class="atr">
    <div class="atd item-6"><a href="/archive.html">Archive</a></div>
  </div>
</div>
